/* Fonts importieren */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Root-Variablen für Farben und Gradienten */
:root {
    --bg-color: #151320;
    --conic-gradient: conic-gradient(
        #FF2E2E,
        #FF831E,
        #FCFF51,
        #58FF57,
        #575FFF,
        #D257FF,
        #FF57E5,
        #FF1556
    );
}

/* Reset und allgemeine Stile  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body-Stile */
body {
    font-family: 'Inter', sans-serif, Arial, sans-serif;
    background-color: #f2f2f2;
    min-height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

p {
    line-height: 1.8;
    white-space: wrap;
    padding: 30px;
    max-width: 50vw;
}

.container {
    padding-left: 30vh;
    padding-top: 20vh;
}

/* Header-Stile*/

.header {
    color: #0E1111;
    text-align: left;
    padding: 0em;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-image: radial-gradient(circle, #FFF899, #E7CFFF); /* Farbverlaufhintergrund im Header */
}

/* Navigation-Stile */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav {
    list-style-type: none;
    position: fixed; /* Fixiert die Navigationsleiste */
    top: 0;
    width: 100%; /* Mache die Navigationsleiste vollständig in der Breite */
    margin: 0;
    padding: 0.1em;
    overflow: hidden;
    background-color: #0E1111;
    z-index: 3; /* setzt die Navigationsleiste in den Vordergrund, damit andere Elemente nicht überlappen */
}

ul.topnav li {
    float: left;
    position: relative; /* Relative Positionierung für das Rechteck */
}

ul.topnav li a {
    width: 10em;
    height: 4em;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 2em;
    border: 2px solid transparent;
    position: relative; /* Relative Positionierung für das Rechteck */
    overflow: hidden;
}

ul.topnav li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
}

ul.topnav a:hover:not(.active) {
    background-color: #7F5CA3;
    color: #FFED00;
}

ul.topnav a.active {
    background-color: #FFED00;
    color: #7F5CA3;
}

ul.topnav li.right {
    float: right;
}

/* Hauptbereich-Stile */
main {
    padding: 0px;
    width: 100%;
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20vw;
}

section {
    background-color: #FFF899; /* Hintergrundfarbe für ungerade Sections */
}

section:nth-child(even) {
    background-color: #E7CFFF; /* Hintergrundfarbe für gerade Sections */
}

/* Rainbow Button */
.btn {
    width: 10em;
    height: 4em;
    border-radius: 3em;
    box-shadow: 0 1em 1em rgba(0, 0, 0, .5);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: transform .3s ease;
}

.btn::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 350%;
    background: var(--conic-gradient); /* Regenbogen Farbverlauf */
}

.btn::after {
    content: 'mehr erfahren';
    position: absolute;
    background-color: #fff;
    width: 96%;
    height: 86%;
    border-radius: 3em;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    transform: scale(1.1); /* macht den Button grösser */
}

.btn:hover::before {
    animation: spin 1.5s infinite linear; /* legt die Zeit für die Drehung des Farbverlaufs fest */
}

@keyframes spin {
    to {
        transform: rotate(360deg); /* setzt ein Keyframe für die Drehung des Farbverlaufs fest*/
    }
}

/* Scroll Animation */

.animation {
    opacity: 0; /* Die Elemente sind zuerst noch transparent */
    transform: translateX(-300px); /* Rückt die Elemente von links nach rechts ein */
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
}

.scroll-animation {
    opacity: 1;
    transform: translateX(0);
}

/* Label Formatierung im Formular auf der About Seite */

label {
    display: block;
    margin-bottom: 8px;
    padding: 10px 20px;
    border-radius: 5em;
}

/* Formular */

button.form,
button.scroll {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5em;
}

button.scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

select {
    border-radius: 5em;
    padding: 10px 20px;
}

/* Newsletter-Formular */
.container {
    padding: 20px;
}

input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5em;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5em;
}

input[type=submit]:hover {
    opacity: 0.8;
}

/* Footer */
footer {
    background-color: #333;
    color: yellow;
    padding: 20px;
    text-align: center;
    width: 100%;
}

/* Glossar */
.glossary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.term {
    width: 48%;
    margin-bottom: 20px;
}

.term p {
    display: block;
}

.read-more {
    color: #333;
    cursor: pointer;
    text-decoration: underline;
}

/* Übersicht über alle Buchstaben und Verlinkungen zu den Begriffserklärungen */

.glossaryabc {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.glossaryabc li {
    float: left;
}

.glossaryabc li a {
    display: block;
    color: #7F5CA3;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.glossaryabc li a:hover {
    background-color: #111111;
    color: #FFED00;
}

/* Glossareinträge */

.glossaryentry {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

/* Seiten Navigation für die Buchstaben Übersicht auf der Glossarseite */

.glossaryabcside {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 15vh;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.glossaryabcside a {
    padding: 0.1em;
    text-decoration: none;
    font-size: 25px;
    color: #7F5CA3;
    display: block;
}

.glossaryabcside a:hover {
    color: #FFED00;
}

/* mobile first media queries */

@media screen and (max-height: 450px) {
    .glossaryabcside {
        padding-top: 15px;
    }

    .glossaryabcside a {
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    p {
        max-width: 80vw;
        padding: 15px;
    }

    .header {
        color: #0E1111;
        height: 100vh;
        width: 100%;
        box-sizing: border-box;
        background-image: radial-gradient(circle, #FFF899, #E7CFFF); /* Farbverlauf Hintergrund im Header */
    }

    .topnav {
        overflow: hidden;
        background-color: #0E1111;
        position: fixed; /* Setze die Navigationsleiste auf festen Position */
        top: 0; /* Positioniere die Navigationsleiste oben auf der Seite */
        width: 100%; /* Volle Breite */
        z-index: 3;
        padding: 0.1em;
        margin: 0;
        flex-direction: column;
        text-align: left;
        list-style-type: none;
    }

    ul.topnav li {
        float: none;
        display: block;
    }

    ul.topnav li a {
        width: 6em;
        height: 1em;
        display: block;
        color: white;
        text-align: center;
        padding: 15px 40px;
        text-decoration: none;
        border-radius: 2em;
        border: 2px solid transparent;
        position: relative;
        overflow: hidden;
    }

    ul.topnav a.active {
        background-color: #FFED00;
        color: #7F5CA3;
    }

    .animation,
    .scroll-animation {
        opacity: 1;
        transform: translateX(0);
    }

    .btn {
        font-size: 0.8em;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }

    section {
        background-color: #FFF899; /* Hintergrundfarbe für ungerade Sections */
    }

    section:nth-child(even) {
        background-color: #E7CFFF; /* Hintergrundfarbe für gerade Sections */
    }

    form {
        max-width: 80vw;
        margin: 0 auto;
    }

    input[type=submit] {
        width: 100%;
    }

.glossaryabcside {
    width: 10vw;
    position: fixed;
    z-index: 1;
    top: 5vh;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.glossaryabcside a {
    padding: 0.1em;
    text-decoration: none;
    font-size: x-small;
    color: #7F5CA3;
    display: block;
}

    footer {
        padding: 10px;
    }
}
