/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Variables */
:root {
    --bg-color: #151320;
    --conic-gradient: conic-gradient(
        #FF2E2E,
        #FF831E,
        #FCFF51,
        #58FF57,
        #575FFF,
        #D257FF,
        #FF57E5,
        #FF1556
    );
}

/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif, Arial, sans-serif;
    background-color: #f2f2f2;
    min-height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

/* Header */

h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

p {
    line-height: 1.8;
    white-space: wrap;
    padding: 30px;
    max-width: 50vw;
}

.container {
    padding-left: 30vh;
    padding-top: 20vh;
}

header {
    color: #7F5CA3;
    text-align: left;
    padding: 0em;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #0E1111;
}

/* Navigation */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

ul.topnav {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%; /* Make the navbar full width */
    margin: 0;
    padding: 0.1em;
    overflow: hidden;
    background-color: #0E1111;
}

ul.topnav li {
    float: left;
    position: relative; /* Relative positioning for the rectangle */
}

ul.topnav li a {
    width: 10em;
    height: 4em;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 2em;
    border: 2px solid transparent;
    position: relative; /* Relative positioning for the rectangle */
    overflow: hidden;
}

ul.topnav li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
}

ul.topnav li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2em; /* Same border-radius as the main button */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: spin 5s linear infinite;
    background-image: var(--conic-gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
    z-index: -2;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
}

ul.topnav li a:hover::after {
    transform: rotate(360deg); /* Trigger the animation on hover */
}

ul.topnav a:hover:not(.active) {
    background-color: #7F5CA3;
    color: #FFED00;
}

ul.topnav a.active {
    background-color: #FFED00;
    color: #7F5CA3;
}

ul.topnav li.right {
    float: right;
}

/* Animation Keyframes */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Main */
main {
    padding: 0px;
    width: 100%;
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20vw;
}

section:nth-child(odd) {
    background-color: #f2f2f2;
}

section:nth-child(even) {
    background-color: #ddd;
}

/* Rainbow Button */
.btn {
    width: 10em;
    height: 4em;
    border-radius: 3em;
    box-shadow: 0 1em 1em rgba(0, 0, 0, .5);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: transform .3s ease;
}

.btn::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 350%;
    background: var(--conic-gradient);
}

.btn::after {
    content: 'mehr erfahren';
    position: absolute;
    background-color: #fff;
    width: 96%;
    height: 86%;
    border-radius: 3em;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:hover::before {
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.animation {
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;

}

.scroll-animation {
    opacity: 1;
    transform: translateX(0);
}


/* Form and Scroll Buttons */
label {
    display: block;
    margin-bottom: 8px;
}

button.form,
button.scroll {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button.scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


/* newsletter */

/* Style the form element with a border around it */
form {
    border: 4px solid #f1f1f1;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

/* Glossary */
.glossary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.term {
    width: 48%;
    margin-bottom: 20px;
}

.term p {
    display: block;
}

.read-more {
    color: #333;
    cursor: pointer;
    text-decoration: underline;
}

.glossaryabc {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

.glossaryabc li {
        float: left;
      
}

.glossaryabc li a {
    display: block;
    color: #7F5CA3;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
.glossaryabc li a:hover {
    background-color: #111111;
    color: #FFED00;
  }

.glossaryentry {
        border: 1px solid #c3c3c3;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
}

.glossaryabcside {
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 15vh;
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .glossaryabcside a {
    padding: 0.1em;
    text-decoration: none;
    font-size: 25px;
    color: #7F5CA3;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .glossaryabcside a:hover {
    color: #FFED00;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .glossaryabcside {padding-top: 15px;}
    .glossaryabcside a {font-size: 18px;}
  }

/* Mobile-First */
@media screen and (min-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: row;
    }

    nav a {
        margin-bottom: 0;
        margin-right: 20px;
    }

    main {
        max-width: 100vw;
        width: 100%;
        margin: 0 auto;
    }
}