body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

header {
    background-color: #7F5CA3;
    color: #FFED00;
    text-align: left;
    padding: 0em;
    border-bottom: 4px solid #0E1111;
    width: 100%; /* Make the header full-width */
    height: 100vh; /* Make the header full-height (viewport height) */
    box-sizing: border-box; /* Include padding and border in the total width/height */
}

h1 {
    font-size: 3em; /* Adjust the font size as needed */
    margin-bottom: 0px; /* Add space below the h1 */
}

.container {
    padding-left: 30vh; /* Adjust the left padding as needed */
    padding-top: 30vh;
}

/* Navigation */

ul.topnav {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0E1111;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
}

ul.topnav a:hover:not(.active) {background-color: #7F5CA3;
    color: #FFED00;}

ul.topnav a.active {background-color: #FFED00;
    color: #7F5CA3;}

ul.topnav li.right {float: right;}

section {
    height: 100vh; /* Set the height of each section to the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

section:nth-child(odd) {
    background-color: #f2f2f2;
}

section:nth-child(even) {
    background-color: #ddd;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

label {
    display: block;
    margin-bottom: 8px;
}

button.form {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button.scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.glossary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.term {
    width: 48%;
    margin-bottom: 20px;
}

.term p {
    display: block;
}

.read-more {
    color: #333;
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    nav {
        flex-direction: row;
    }

    nav a {
        margin-bottom: 0;
        margin-right: 20px;
    }

    main {
        margin-top: 80px; /* Adjusted margin to avoid content overlapping fixed navigation*/
    }
}